body{
    background-image: linear-gradient(to right, dodgerblue, darkolivegreen);
    
}
#header{
    margin: 0px;
    text-align: center;
    
}
    #Title{
        font-size: 3.5vh;
        font-weight: bold;
        
    }
    #linkGitHub{
        font-size: 1.5vh;
        min-width: 8vw;
        max-width: 15vw;
        min-height: 5vh;
        max-height: 13vh;
        border-radius: 0.7vw;
        background-color: rgba(255, 255, 255, 0.2);
    }
#documentSection{
    position: absolute;
    margin-top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 81vh;
    background-color: rgba(255, 255, 255, 0.7);
}
    #documentSection #commentSection{
        font-size: 2vh;
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: 0px;
        height: 20vh;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #documentSection #commentSection label{
        margin-left: 30px;
    
    }
    #documentSection #commentSection a{
        margin-left: 0px;
    }
