
body{
    color: #0c862a;
    font-size: 17px;
}
    #main{
        width: 320px;
        height: 450px;    
        background-color: #f5efbe;
        padding: 5px 0;
    }
        header{
            font-size: 20px;
            text-align: center;
        }
            header a{
                text-decoration: none;
                color: #ffbd44;
            }
        article label{
            width: 320px;
            display: inline-block;
            margin: 10px;
        }
        article a {
            margin-left: 10px;
            color: blue;
        }