body{
    font-size: 17px;
}
    #main{
        width: 320px;
        height: 450px;    
        background-color: gainsboro;
        padding: 5px 0;
    }
    header{
        font-size: 20px;
        text-align: center;
    }
        header a{
            text-decoration: none;
            color: #ffbd44;
        }
    #canvas-holder{
        text-align: center;
    }
    
        #canvas-holder #buttons{
            position: absolute;
            left: 180px;
        }
        #canvas-holder #buttons button{
                width: 30px;
                height: 30px;
                background-color: #b50dda;
                color: white;
            }
        #canvas-holder #resetButton{
            position: absolute;
            width: 60px;
            height: 25px;
            margin-top: 265px;
            margin-left: 230px;
            color: white;
            background-color: red;
        }
    #bottomButtons{
        position: absolute;
        top: 410px;
        width: 320px;
        display: inline-block;
    }
        #bottomButtons #colorButtons{
            float: left;
            margin-left: 14px;
        }
        #bottomButtons #functionButtons{
            float: right;
            margin-right: 14px;
        }
            #bottomButtons button{
                color: white;
                width: 55px;
                height: 50px;
            }
                #blackButton{
                    background-color: black;
                }
                #yellowButton{
                    background-color: #b3b22a;
                }
                #greenButton{
                    background-color: #1abc9c;
                }
                #sprayButton{
                    background-color: #1a8ebc;
                }
                #deleteButton{
                    background-color: red;
                }