body{
    width: 320px;
    height: 450px;
}

    #main{
        background-color: #b4f7f3;
        height: 370px;
        padding: 5px 0;
    }
        header{
            color: #ffbd44;
            font-size: 20px;
            text-align: center;
        
        }
        #iconControl{
            margin-top: 0px;
            vertical-align: top;
        }
            figure{
                display: inline-block;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: -20px;
                margin-bottom: 50px;
                max-width: 97px;
                max-height: 118px;
            }
            img{
                vertical-align: top;
            }
                #calculatorIcon{
                    margin-bottom: 10px;
                    margin-left: 1px;
                }
            figcaption{
                text-align: center;
            }

    article{
        width: 320px;
        height: 38px;
        font-size: 25px;
        text-align: center;
        padding: 37px 0;
        background-color: #ffbd44;
    }

a {text-decoration: none;color: black;} /* No underline for link */
