body{
    color: white;
    font-size: 17px;
}
    #main{
        width: 320px;
        height: 450px;    
        background-color: black;
        padding: 5px 0;
    }
    header{
        font-size: 20px;
        text-align: center;
    }
        header a{
            text-decoration: none;
            color: #ffbd44;
        }
    #timer{
        padding: 70px;
        text-align: center;
        font-size: 45px;
    }
    #buttons{
        
        text-align: center;
        
    }
        #buttons button{
            font-size: 18px;
            color: white;
            margin-left: 10px;
            margin-right: 10px;
            width: 115px;
            height: 95px;
        }
            #buttons #startButton{
                background-color: #1abc9c;
            }
            #buttons #resetButton{
                background-color: #d62211;
            }